

<ul class="list-group">
  {% for data in datas %}
    <a href="/filterblog/?cid={{data.id}}">{{ data }}</a>
  {% endfor %}
</ul>
<h1>Display Blogs</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
      <th scope="col">Created Date</th>
       <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    {% for blog in blogs%}
    <tr>
      <th scope="row">{{blog.category}}</th>
      <th scope="row">{{blog.title}}</th>
      <th scope="row">{{blog.created_date}}</th>
      <th scope="row"><a href="/detail/{{blog.id}}/">details</a></th>
      <th scope="row"><a href="/detail/{{blog.id}}/">edit</a></th>
   {% endfor %}
    </tr>
   
  </tbody>
</table>  
